BOOTSTRAP_SERVERS=<confluent-bootstrap-server>
SECURITY_PROTOCOL=SASL_SSL
SASL_MECHANISM=PLAIN
SASL_USERNAME=<confluent-api-key>
SASL_PASSWORD=<confluent-api-secret>

# Confluent Cloud
# Environment: bank-nusantara-streaming
# Cluster: bank-nusantara-kafka

KAFKA_TOPIC_MOBILE=mobile-banking-activity
KAFKA_TOPIC_TRANSACTION=transaction-events
KAFKA_TOPIC_CUSTOMER_SERVICE=cs-interactions
KAFKA_TOPIC_ANALYTICS=analytics-metrics
KAFKA_TOPIC_FRAUD_ALERTS=fraud-alerts
KAFKA_TOPIC_DW_DEAD_LETTER=dw-dead-letter

KAFKA_CONSUMER_GROUP_ANALYTICS=bank-nusantara-analytics-group
KAFKA_CONSUMER_GROUP_FRAUD=bank-nusantara-fraud-group
KAFKA_CONSUMER_GROUP_DW=bank-nusantara-dw-group

GOOGLE_APPLICATION_CREDENTIALS=<absolute-path-to-service-account-json>
BIGQUERY_PROJECT_ID=<gcp-project-id>
BIGQUERY_DATASET=<dataset-name>
BIGQUERY_TABLE_RAW_EVENTS=raw_events
